<h1>Installation & Prep</h1><h4>Click into these boxes and press shift + enter.
For the first one, wait until you see a tonne of code which ends with "successful".
The second one will just just complete without showing an error.</h4>

In [ ]:
 ## library import
    
import pandas as pd
import sqlite3
from datetime import datetime
# ipython-sql library
!pip install ipython-sql

In [4]:
menu = pd.DataFrame({   'product_id':   [1,2,3,4,5,6,7],
                        'price':        [10.00,10.00,8.50,25.00,12.00,8.00,15.00],
                        'product_name':  ['Ichiraku House Ramen','Hokage Curry','Mizukage Nigiri',
                                        'Ichiraku Noodles, Sharingan Style','Ichiraku Ten Tails Sake',
                                        'Yasai Noodles','Mangekyo Handroll'],
                        'product_cost_base': [2.50,2.50,3.50,5.00,1.50,1.50,5.50],
                        'product_category':  ['Main','Main','Appetiser','Main','Beverage','Side','Side']})
sales = pd.DataFrame({  'customer_id': ["Naruto","Naruto","Naruto","Naruto","Naruto","Naruto","Naruto","Iruka","Iruka","Shino","Shino","Sarada","Sarada","Sasuke","Sasuke","Tobi","Kisame","Kisame","Madara","Madara","Madara","Itachi","Itachi","Itachi","Zetsu","Gaara","Gaara","Tsunade","Kakashi","Jiraya"],
                        'order_date':   [1/2/2021,2/2/2021,3/2/2021,4/2/2021,5/2/2021,6/2/2021,6/2/2021,7/2/2021,8/2/2021,2/2/2021,4/2/2021,5/2/2021,5/2/2021,7/2/2021,9/3/2021,9/2/2021,4/3/2021/4/2/2021,1/2/2021,4/2/2021,11/2/2021,11/2/2021,11/2/2021,12/2/2021,5/2/2021,6/2/2021,6/2/2021,7/2/2021,2/2/2021,2/2/2021,3/2/2021],
                        'product_id':   [1,2,3,4,1,1,1,2,6,1,2,5,4,7,4,1,1,2,2,3,4,5,7,7,4,4,1,2,1,2]})


members = pd.DataFrame({'name':                        ['Naruto', 'Iruka', 'Shino', 'Sarada', 'Sasuke', 'Tobi', 'Kisame', 'Madara', 'Itachi', 'Zetsu', 'Gaara', 'Tsunade', 'Kakashi', 'Jiraya'],
                        'id_no':                       ["IR1","IR2","IR3","IR4","IR5","IR6","IR7","IR8","IR9","IR10","IR11","IR12","IR13","IR14"],
                        'join_date':                   [1/2/2021,1/2/2021,4/2/2021,1/1/2021,5/2/2021,4/1/2021,6/1/2021,1/1/2021,1/4/2021,10/4/2021,1/10/2020,1/4/2021,1/1/1970,2/2/2021]
                       })

# SQL DB connection
cxn = sqlite3.connect('ichiraku_ramen_house.db')
#create tables in database using sqlite3 
sales.to_sql('sales', cxn)
menu.to_sql('menu', cxn)
members.to_sql('members', cxn)

#load sql module: 
%load_ext sql

%sql sqlite:///ichiraku_ramen_house.db

<h1>SQL Tutorial</h1>
<h2>Ichiraku Ramen House!</h2>
<p>In this tutorial you will access a database with 3 tables. 
    We will look at joining the tables, retrieving data and establishing some key metrics/analysis we can obtain.
    In order to run an SQL query on a jupyter notebook <em>(that's what this is)</em> you'll need to put 2 percentage symbols and sql at the start of the box. i.e see below, this is a query which shows all of the entries in the menu table.</p>

In [5]:
 %%sql 
 SELECT *
 from menu

 * sqlite:///ichiraku_ramen_house.db
Done.

[(0, 1, 10.0, 'Ichiraku House Ramen', 2.5, 'Main'),
 (1, 2, 10.0, 'Hokage Curry', 2.5, 'Main'),
 (2, 3, 8.5, 'Mizukage Nigiri', 3.5, 'Appetiser'),
 (3, 4, 25.0, 'Ichiraku Noodles, Sharingan Style', 5.0, 'Main'),
 (4, 5, 12.0, 'Ichiraku Ten Tails Sake', 1.5, 'Beverage'),
 (5, 6, 8.0, 'Yasai Noodles', 1.5, 'Side'),
 (6, 7, 15.0, 'Mangekyo Handroll', 5.5, 'Side')]

See if you can work out how to pull the other tables in the database and see how they might be linked.

In [ ]:
%%sql

# Questions!

<p><ul>
    <li> How many dishes are present on the menu at this point on time?</li>
    <li>What is the most expensive meal on the menu?</li>
    <li>Which customer has spent the most?</li>
        <li>Which customer has visited the most?</li>
    <li> Which day has been most profitable for the Ramen Shop?</li></ul>
    
 <p><p> Are you able to write any lines of SQL that will show any/all of answers to the above in a results table?

<h4>See whether there is any other information you can extract from the database in order to provide your own analysis.
    There is also the opportunity to graph some of your findings within this platform for instant visual results.
</h4>
<ul>
    <li>Can you work out how to link the tables to give a more rounded view of data?</li>
    <li>Is it possible to link all 3 tables, and if so - what can you draw from this?</li>
    <li>Are there any trends or anomalies within the data that could be corrected?</li>
    <li>Can you find the correct syntax to correct/remove any of these elements?</li>

In [7]:
%%sql

#<Query goes here>

 * sqlite:///ichiraku_ramen_house.db

In [ ]:
%%sql

#<Query goes here>

In [ ]:
%%sql

#<Query goes here>

In [ ]:
%%sql

#<Query goes here>

In [ ]:
%%sql

#<Query goes here>

In [ ]:
%%sql

#<Query goes here>

# Bonus Points
This workbook can utilise several coding elements - can you figure out how to use any of the above data to create graphics to support your conclusions? 
<p>Bear in mind, this is higher level coding - the only real limit is your imagination, it is possible to create 3D/moving/colourful representations of data, it just may take more time and a little more learning.